<!DOCTYPE html>
<html>
  <head>
    <title>MyListWeb2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light m-b-40">
    <span class="navbar-brand text-bold text-blue">MY LIST</span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <%if !current_usuario.blank?%>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <% if controller_name != 'registrations' %>
              <li class="nav-item">
                <%= link_to "Seu Perfil", "/usuarios/edit", class: "nav-link"%>
              </li>
              <li class="nav-item" id="seuAcervoNav">
                <a class="nav-link" href="#" id="seuAcervo">Seu Acervo</a>
              </li>
              <li class="nav-item" id="acervoAmigosNav">
                <a class="nav-link" href="#" id="acervoAmigos">Acervo de Amigos</a>
              </li>
              <li class="nav-item" id="acervoAmigosNav">
                <a class="nav-link" href="#" id="todosFormatos">Formatos</a>
              </li>
              <li class="nav-item" id="acervoAmigosNav">
                <a class="nav-link" href="#" id="todasCategorias">Categorias</a>
              </li>
            <%end%>
          </ul>
          <span class="navbar-text">
          <%= link_to "Sair", "/usuarios/sign_out", :method => :delete, :"data-ajax" => "false" %>
          </span>
        </div>
      <%end%>
    </nav>
    <%= yield %>
  </body>
</html>
